/* .data {
  display: flex;
  
} */

/* .link:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
} */

.employee {
  font-size: 20px;
  font-weight: 600;
}

.classes {
  font-size: 18px;
  font-weight: 600;

}

.students {
  font-size: 16px;
  /* font-weight: 100; */

}

#students-data {
  position: fixed;
  top: 100px;
  left: 250px;
  height: 100vh;
  overflow: auto;
}

/* .App {
  text-align: center;
  margin: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
